/**
 * @author: Piyaporn Saykaew
 * @phone: 0884350313
 * @email: piyaporn.saykaew@gmail.com
 */

.top_nav .nav_menu .nav.toggle {
    min-width: 400px !important;
}

.right-column {
  flex-grow: 0 !important;
}

.content {
    padding: 40px;
    & .text-black {
        color: #000;
    }
    & .itemList {
        & th {
            border-top: 2px solid #ddd !important;
        }
        & tbody {
            & td {
                border: 0;
                border-right: 1px dashed #ececec;
            }
            & tr:last-child>td {
                border-bottom: 2px solid #ddd;
            }
        }
    }
    & fieldset {
        border-radius: 5px;
        background: #f2f2f2;
        padding: 5px 20px;
        color: #000;
        legend {
            color: #000;
            text-transform: uppercase;
            margin: 0;
            border: 0;
            font-size: 14px;
            font-weight: bold;
        }
    }
    & .itemCode {
        width: 150px;
        text-align: center;
    }
    & .itemValue {
        width: 80px;
        text-align: center;
    }
    & .table-summary {
        & tr>td:first-child {
            padding-right: 10px;
        }
    }
    & .summary {
        font-size: 22px;
    }
    & .signature {
        color: #000;
        width: 300px;
        & div {
            border-bottom: 1px solid #4d4d4d;
            height: 15px;
        }
    }
}

.showCtrl {
    padding: 20px;
    min-width: 100%;
    table {
      margin-bottom: 20px;
    }
    & button {
        text-align: center;
        width: 150px;

        &.log span {
          left: -45px !important;
        }
        &.send span {
          left: -20px !important;
        }
        &.print span {
          left: -40px !important;
        }
    }
    .actionBtn {
        width: 100%;
        padding: 6px 12px;
        text-align: center;
    }
    font-size: 12px;
}

.modalBox {
    display: none;
    & .logList {
        & td,
        th {
            text-align: center;
        }
        & td {
            border-top: 0 !important;
        }
        & tr>td:first-child {
            border-right: 1px dashed #ddd;
        }
        & tr:last-child>td {
            border-bottom: 2px solid #ddd;
        }
    }
}

.table-nobordered {
    & td {
      border-top: 0px !important;
      .remark {
        width: 90%;
        background-color: #ddd;
        padding: 10px 10px 12px;
        p {
          margin: 0;
          line-height: 1;
          &.head {
            margin-bottom: 8px;
            color: #000;
          }
        }
      }
    }
}
