/**
 * @author: Natthanon Ochaphong
 * @phone: 0809135244
 * @email: baraear@gmail.com
 */

.er-create-header {
  padding-bottom: 25px;

  div {
    div {
      span {
        font-size: 18px;
        font-weight: bold;
        color: #000;
      }
    }
  }
}

.container-fluid {
  margin-right: 0;
  margin-left: 0;
}

.top_nav .nav_menu .nav.toggle {
  min-width: 400px !important;
}

.x_panel.content-center {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.text-left {
  text-align: left !important;
}

#formExpenseRequisition {
  max-width: 900px;
  padding: 0;
  margin: 30px auto;

  & label {
    color: #000;
    text-transform: uppercase;
  }

  .input-group {
    &.date {
      max-width: 300px;
    }
  }

  .uploadPhotoHeaderSection {
    .form-group {
      margin-bottom: 0 !important;
    }
  }

  .uploadPhotoSection {
    .form-group {
      margin-bottom: 10px !important;
    }
  }

  .uploadAddMore {
    font-size: 24px;
    width: 135px;
    height: 135px;
    border-radius: 5px;
    border: 3px solid #dedede;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background: #eee no-repeat center;
    cursor: pointer;

    i {
      position: relative;
      top: calc(50% - 16px);
      left: calc(50% - 8px);
    }

    span {
      display: block;
      padding: 0;
      line-height: 95px;
      text-align: center;
    }

    input {
      position: absolute;
      font-size: 2000px;
      z-index: 200;
      top: 0;
      right: 0;
      opacity: 0;
      -ms-filter: "alpha(opacity=0)";
      cursor: pointer;
    }

    .up_again {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 95px;
      height: 95px;
      opacity: 0;
      color: #fff;
      transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      line-height: 1.6;
    }

    &:hover {
      .up_again {
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }

  table {
    thead {
      tr {
        .centerText {
          text-align: center;
        }
      }
    }
    tbody {
      tr {
        td {
          vertical-align: middle;
          button.btn-ngin {
            padding: 0;
            border-radius: 5px;
            span {
              left: 0;
              padding: 0 6px;
            }
          }
        }

        //.twitter-typeahead {
        //  float: right;
        //  width: calc(100% - 40px);
        //}

        td:first-child {
          input {
            width: calc(100% - 40px);
          }
        }

        td:nth-child(2) {
          input {
            text-align: center;
          }
        }

        td:nth-child(3) {
          input {
            text-align: center;
          }
        }

        td:nth-child(4) {
          input {
            text-align: center;
          }
        }

        td:last-child {
          text-align: center;

          span:last-child {

          }
        }


      }
    }
  }

  table.expense-reqisition-table {
    thead {
      tr {
        th {
          span {
            color: #5c5c5c;
          }
        }
      }
    }
    .btn-ngin.table-btn-delete {
      background: none !important;
    }

    .btn-ngin .btn-label {
      border: 0 !important;
    }

    .table-btn-delete {
      line-height: 1em !important;
      padding: 0px 2px 0px 2px !important;
      border-radius: 4px 0px 0px 4px !important;
      margin-top: 7px;
      margin-left: 10px;
    }

    .table-btn-delete .btn-label {
      line-height: 1em !important;
      left: 0px !important;
      padding: 0px 0px 0px 0px !important;
      background: none !important;
      font-size: 18px !important;
    }

    .table-btn-delete:active .btn-label {
      background: none !important;
    }
  }

  .hr-bottom {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 2px solid #dcdcdc;
  }

  .summary {
    line-height: 25px;

    div {
      div:nth-child(2) {
        text-align: right;
      }
    }

    div:last-child {
      div:last-child {
        padding-top: 2px;
      }
    }

    .net-total {
      font-weight: bold;
      font-size: 18px;
      color: #000000;
    }

    .input-xs {
      height: 22px;
      padding: 2px 5px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
      text-align: right;
    }
  }

  .installment {
    div {
      label {
        padding-top: 8px;
      }
    }
  }
}