.form-top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    .form-group {
        height: 30px;
        display: inline;
        .icon-addon {
            margin-left: 10px;
        }
        &.search {
            width: 100%;
            input {
                width: 100%;
            }
        }
        &.select-all {
            width: 80px;
            min-width: 80px;
            .checked {
                position: relative;
                top: -4px;
            }
            label {
                margin-bottom: 0;
                padding: 5px 0 0 0;
            }
        }
    }
}

.form-header-index table tr .col-2 {
    width: 43%;
}

.select-all {
    .icheckbox_minimal-grey {
        margin-top: 0 !important;
    }
}

.tr-checkbox {
    width: 30px;
}

.tr-data-small {
    line-height: 1em;
    font-size: 10px;
    p {
        font-size: 18px;
    }
}

@mixin chart-lable-template($marginLeft: 40) {
    color: black;
    margin-top: 40px;
    margin-left: $marginLeft + px;
    font-size: 16px;
}

.chart-label {
    @include chart-lable-template;
    .po-number {
        display: block;
        margin-bottom: 10px;
        font-weight: normal;
    }
}

.col-label-time {
    margin-left: -20px;
    margin-top: -32px;
}

.chart {
    .chart-total-display {
        font-size: 20px;
        color: #4c5b6b;
    }
    .chart-time-display {
        color: #4c5b6b;
    }
}

.chart-time {
    margin-top: 30px;
}

.chart-total-display {
    display: inline-block;
    z-index: 2;
    line-height: 150px;
    padding-left: 30px;
}

.chart-time-display {
    display: inline-block;
    z-index: 2;
    line-height: 110px;
}

.panel {
    &.panel-default {
        background-color: transparent;
        border-top: 0;
        border-left: 1px solid #d3e0e9;
        border-right: 1px solid #d3e0e9;
        border-bottom: 1px solid #d3e0e9;
        // border-color: #999999;
    }
}

.table {
    tbody>tr>td {
        border-top: 0!important;
        padding: 0 !important;
        line-height: 15px !important;
        &.td-pr {
            color: #3097d1;
        }
    }
}

.inquiry-collape {
    tr td {
        // vertical-align: middle !important;
        label {
            font-size: 11px;
            font-weight: normal;
        }
    }
}

.iq-number {
    span {
        color: #3097d1;
        margin-right: 10px;
    }
    strong.number {
        display: inline-block;
        font-size: 18px;
    }
    .doc-date {
        display: inline-block;
        font-size: 11px;
        width: 100px;
        line-height: 11px;
        padding: 5px 0;
    }
}

.iq-status {
    display: inline-block;
    font-weight: normal!important;
    font-size: 14px;
    width: 150px;
    .fa-exclamation:before {
        top: 0 !important;
    }
    .iq-status-icon {
        position: relative;
        margin: 0 10px;
        padding: 0;
    }
    .iq-status-icon:before {
        top: 0;
        margin-top: 0!important;
    }
    .fa-exclamation-triangle {
        color: #f7931c;
        margin-right: 10px;
        margin-left: 0;
    }
    .fa-times-circle-o {
        margin-right: 10px;
        margin-left: 0;
    }
    &.waiting {
        display: inline-table;
        i {
            display: table-cell;
            width: 10px;
            vertical-align: middle;
        }
        span {
            display: table-cell;
            width: 65px;
            vertical-align: middle;
        }
    }
}

table.iq-detail-table {
    tbody {
        >tr {
            >td {
                padding: 5px 0 !important;
            }
            &.border-bottom>td {
                border-bottom: 1px solid #CCC;
            }
        }
    }
}

.icheckbox_minimal-grey {
    margin-top: 10px;
}

.text-blue {
    color: #3097d1;
}

//sidebar
.sidebar-wrapper {
    .sidebar-body {
        overflow-y: auto;
    }
}

//content
.x_content {
    //padding: 10px;
    // .nav {
    //     &.nav-tabs {
    //         margin-top: 30px;
    //         li {
    //             margin-bottom: -2px;
    //             max-width: 230px;
    //             min-height: 35px;
    //             height: auto;
    //             text-transform: uppercase;
    //             a {
    //                 width: 100%;
    //                 line-height: 1;
    //                 padding: 15px;
    //             }
    //         }
    //     }
    // }
    // .pagination {
    //     margin-top: 15px!important;
    // }
}

.panel {
    &-group {
        margin-bottom: 0;
    }
    &-default {
        background-color: transparent;
    }
}

.form-header {
    .form-fixed-width {
        width: 100%;
        input {
            width: 100%;
        }
    }
    .pd-right-8 {
        margin-right: 8px;
    }
    .col-md-4 {
        padding-left: 15px!important;
        padding-right: 0px!important;
    }
    .col-md-5 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .col-md-3 {
        padding-right: 20px;
    }
    table {
        margin-left: 15px;
        margin-right: 15px;
        tr {
            .col-1 {
                min-width: 260px;
                width: 25%;
            }
            .col-2 {
                width: 55%;
            }
            .col-3 {
                min-width: 200px;
                text-align: right;
                width: 25%;
            }
        }
    }
}

.form-header-index {
    table tr {
        .col-1 {
            min-width: 270px;
            width: 10%;
        }
        .col-2 {
            width: 25%;
        }
        .col-3 {
            min-width: 20px;
            width: 5%;
            text-align: right;
        }
    }
}

.btn-group {
    &.ngin-dropdown-sort {
        border: 0;
        &:active {
            box-shadow: 0 0 0;
        }
    }
}

.tr-checkbox {
    width: 30px;
}

.tr-data-small {
    line-height: 1em;
    font-size: 10px;
    p {
        font-size: 14px;
        margin-top: 10px;
    }
}

.td-block {
    small {
        font-weight: bold;
        color: #000;
    }
    p {
        margin: 0 !important;
    }
}

.td-action {
    width: 30%;
}

.inline-block {
    display: flex;
    strong {
        padding: 0 20px 0 0;
    }
    small {
        display: block;
        text-align: center;
        font-weight: bold;
        color: #000;
        padding: 7px 0;
    }
    span {
        font-weight: normal;
    }
}

.shopping-date {
    padding-top: 6px;
    padding-bottom: 6px;
    span {
        font-size: 14px;
    }
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-lightblue {
    color: #75a1d2 !important;
}

.nav-sm #sidebar-menu .menu_section .side-menu span.fa-chevron-down {
    margin-left: 0px;
}

.ngin-table-noborder tbody tr td {
    border-left: 0px;
    padding-bottom: 10px !important;
    vertical-align: middle;
}

.ngin-table-text-left tbody tr td {
    text-align: left;
}

.ngin-table {
    .ngin-table-title {
        font-size: 18px;
    }
    .ngin-table-subtitle {
        font-size: 14px;
        margin-top: 10px;
    }
}

.char-shipment-display {
    position: absolute;
    left: 115px;
    top: 20px;
    z-index: 2;
    line-height: 110px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.chart.char-shipment canvas {
    left: 70px;
}

.chart-label {
    position: absolute;
    color: black;
    margin-top: 30px;
    margin-left: 80px;
    font-size: 16px;
}

#lbHeaderPage {
    h3 {
        width: 400px;
    }
}

@media screen and (max-width: 1280px) {
    .chart.char-shipment canvas {
        left: -20px;
    }
    .char-shipment-display {
        left: 20px;
    }
    .chart-label {
        margin-left: 15px;
    }
}

@media screen and (min-width: 1500px) {
    .chart.char-shipment canvas {
        left: 40px;
    }
    .char-shipment-display {
        left: 80px;
    }
    .chart-label {
        margin-left: 60px;
    }
}

@media (max-width: 1599px) {
    .form-header-index {
        table tr {
            .col-2 {
                width: 15%;
            }
        }
    }
}

@media (max-width: 1339px) {
    .form-header-index {
        table tr {
            .col-1 {
                width: 5%;
            }
            .col-2 {
                width: 10%;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 16.5px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}

.productReceiveImages {
    padding: 20px;
    img {
        border: 1px solid #999;
    }
    table {
        tr {
            td {
                padding-bottom: 10px !important;
            }
        }
    }
}