@font-face {
	font-family: 'KanitLight';
	src: url("../fonts/backOffice/template/Kanit-Light.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MoonLight';
	src: url("../fonts/backOffice/template/Moon Light.otf");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Glyphicons Halflings';
	src: url("../fonts/backOffice/template/bootstrap-sass/glyphicons-halflings-regular.eot");
	src: url("../fonts/backOffice/template/bootstrap-sass/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/backOffice/template/bootstrap-sass/glyphicons-halflings-regular.woff2") format("woff2"), url("/fonts/backOffice/template/bootstrap-sass/glyphicons-halflings-regular.woff") format("woff"), url("~/fonts/backOffice/template/bootstrap-sass/glyphicons-halflings-regular.ttf") format("truetype"), url("/fonts/backOffice/template/bootstrap-sass/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}