.table-btn-delete {
  line-height: 1em !important;
  padding: 0px 2px 0px 2px !important;
  border-radius: 4px 0px 0px 4px !important;
}

.table-btn-delete .btn-label {
  line-height: 1em !important;
  left: 0px !important;
  padding: 0px 0px 0px 0px !important;
  background: none !important;
  font-size: 18px !important;
}

.table-btn-delete:active .btn-label {
  background: none !important;
}

table {
  margin-top: -15px;
}

table thead .qty {
  max-width: 120px;
}

table thead .blance {
  max-width: 100px;
}

table thead .total {
  max-width: 100px;
}

table thead .text-left {
  text-align: left !important;
}

table thead .blance span {
  font-weight: 300;
}

table tbody tr .vertical-align {
  vertical-align: middle;
}

table tbody tr .text-left {
  text-align: left;
}

table tbody tr .text-left p {
  margin-left: 12px;
}


.ngin-table thead tr th{
 font-weight: 500;
    font-size: 17px;
}

table tbody tr .text-right {
  text-align: right;
}

table tbody tr .border-left-none {
  border-left: 0px;
}

@media (min-width: 1100px) {
  table tbody tr .supplier .bootstrap-select {
    width: 85% !important;
  }
}

@media (max-width: 1100px) {
  table tbody tr .supplier .bootstrap-select {
    width: 75% !important;
  }
}

table tbody tr .supplier.no-icon-delete .bootstrap-select {
  margin-left: 25px;
}

table tbody tr .p p:first-child {
  line-height: 15px;
}

table tbody tr .p p {
  line-height: 0px;
}

table tbody tr .text-center {
  text-align: center;
}

table tbody tr .qty {
  max-width: 120px;
}

table tbody tr .qty input {
  text-align: center;
    color: #ccc;
}

table tbody tr .blance {
  max-width: 100px;
  font-size: 23px;
}

table tbody tr .blance span {
  font-size: 16px;
}

table tbody tr .total {
  font-size: 16px;
  max-width: 100px;
}

table tfoot {
  margin-bottom: 0px;
  display: table;
  width: 100%;
  margin-top: 50px;
}

table tfoot tr td {
  border-top: 1px solid #4D4D4D !important;
  font-size: 22px;
}

table tfoot tr td span {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

table.scroll tbody, table.scroll thead tr {
  display: block;
}

table.scroll thead th:last-child {
  width: 156px;
  /* 140px + 16px scrollbar width */
}

.text-right {
  text-align: right;
}

h4.title {
  font-weight: bold;
  color: #000000;
}

.date input {
  font-size: 20px;
}
.txt-bc{
        display: inline-block;
    width: 100%;
    margin-left: 42px;
    text-align: left;
}

.pre-order {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}
.pre-order h4.title{

  font-weight: 500;
}