.refund-from-wallet--create {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;

  table {
    thead tr th {
      padding: 3px 10px !important;

      &.supplier {
        padding-left: 40px !important;
      }
    }

    tbody {
      &::after, &::before {
        content: "";
        display: block;
        height: 15px;
      }

      tr td {
        padding: 10px !important;
        vertical-align: middle;

        &.supplier {
          width: 62.33333333%;
          padding-left: 40px !important;
        }
      }
    }
  }

  .refund-from-wallet--create--header {
    margin-top: 60px;
  }

  .refund-from-wallet--create--detail {
    margin-top: 15px;

    .ngin-table tbody tr td {
      border-left: none;
    }

    .uploadPhotoHeaderSection {
      .form-group {
        margin-bottom: 0 !important;
      }
    }

    .uploadPhotoSection {
      .form-group {
        margin-bottom: 10px !important;
      }
    }

    .totalRefundSection {
      font-size: 16px;
      position: absolute;
      bottom: 21px;
      right: 0;

      .col-md-6 {
        font-weight: bold;
      }
    }

    .remarkSection {
      textarea {
        height: 200px !important;
        resize: none;
      }
    }

    .input-group-addon {
      background: transparent;
      border: none;
    }

    .uploadAddMore {
      font-size: 24px;
      width: 95px;
      height: 95px;
      border-radius: 5px;
      border: 3px solid #dedede;
      position: relative;
      overflow: hidden;
      background-size: cover;
      background: #eee no-repeat center;
      cursor: pointer;

      i {
        position: relative;
        top: calc(50% - 16px);
        left: calc(50% - 8px);
      }

      span {
        display: block;
        padding: 0;
        line-height: 95px;
        text-align: center;
      }

      input {
        position: absolute;
        font-size: 2000px;
        z-index: 200;
        top: 0;
        right: 0;
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
        cursor: pointer;
      }

      .up_again {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 95px;
        height: 95px;
        opacity: 0;
        color: #fff;
        transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        line-height: 1.6;
      }

      &:hover {
        .up_again {
          opacity: 1;
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .form-group {
    margin-bottom: 20px;

    label {
      color: black;
    }
  }

  .align-left {
    text-align: left !important;
  }

  .button-actions {
    padding: 20px 0 50px;
    border-top: 1px solid #999;
    text-align: center;

    .inline {
      display: inline-block;
      padding: 0 5px;
    }

    .save button span {
      left: -23px
    }

    button {
      min-width: 115px;

      .btn-label {
        padding: 2px 8px 2px 10px;

        i {
          font-size: 1.2em;
        }
      }
    }
  }
}
