$color-blue: #020075;

ul li{
    border-top: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
h1 {
    font-size: 22px;
    color: #000;
    font-weight: bold;
    width: 85%;
    margin: 0 auto;
}

.show--container {
    color: #000;
    background-color: rgba(255,255,255, 0.7);
    padding: 20px;
    border: 1px solid #c8c6c6;
    border-radius: 9px;
    font-size: 14px;
    font-weight: bold;
    width: 85%;
    margin: 0 auto;

    .left-content{
        .thumbnail-image{
            img{
                width: 100%;
                height: auto;
            }
            
        }
        .info{
            border-radius: 6px;
            background-color: #FFF;
            border: 1px solid #c8c6c6;
            margin-top: 10px;
            padding: 10px;
            font-size: 11px;

            .label-list{
                 li  {
                    border-top: 0;
                    span{
                        display: inline-block;
                        padding: 7px 15px;
                    }
                 }
            }
            .fa-approve-all{
                padding-left: 0;
            }
            .fa-times-circle-o{
                font-size: 18px;
                padding-top: 3px;
            }

        }
    }
    .right-content{

        .detail-group{
            border-bottom: 1px solid #CCC;
            margin-bottom: 15px;
            &:last-child{
                border-bottom: 0;
            }

            .row{
                margin: 15px 0;

                &:first-child{
                    margin: 0px 0px 15px 0px;
                }
            }

            .label-primary{
                padding: 5px 20px
            }
        }

    }

}

.list-code{
    > li{
        padding-right: 30px !important;
        margin-bottom: 10px !important;
    }
}

.action{
    padding: 1em 0 3em 0;
}

.table-container{
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #CCC;

    table{
        thead{
            > tr > th{
                background-color: $color-blue;
                color: #FFF;
            }
        }
        tbody > tr:nth-of-type(even){
            background-color: #EBEBEB;
        }
    }
}

.list-tags{
    .label{
        background-color: #BBB;
        padding: 5px 20px;
    }
}


.label-primary{
    background-color: $color-blue;
}
.btn-label{
    .danger{
        color: #CC0520;
    }
}
hr{
    border-top: 1px solid #CCC;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.text-gray{
    color: #7b7b7b;
}