/** 
 * @author: กีรติพร ลีลาวันทนพันธุ์
 * @phone: 089-185-9078
 * @email: bookhunter99@gmail.com
 */
 
.bk-table {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.bk-row {
  display: table-row;
  > div {
    display: table-cell;
  }
}

.bk-table tbody tr td {
  padding: 2px 2px 2px 2px;
}

.bk-padding-right-5 {
  padding-right: 5px;
}

.bk-padding-right-10 {
  padding-right: 10px;
}

.bk-padding-right-15 {
  padding-right: 15px;
}

.bk-padding-right-20 {
  padding-right: 20px;
}

.bk-padding-right-25 {
  padding-right: 25px;
}

.bk-padding-left-5 {
  padding-left: 5px;
}

.bk-padding-left-10 {
  padding-left: 10px;
}

.bk-padding-left-15 {
  padding-left: 15px;
}

.bk-padding-left-20 {
  padding-left: 20px;
}

.bk-padding-left-25 {
  padding-left: 25px;
}

.bk-blue-light {
  color: #3097d1;
}

.bk-black-light0 {
  color: #333;
}

.bk-black-light1 {
  color: #777;
}

.bk-font-bold {
  font-weight: bold;
}

.bk-font-s0 {
  font-size: 20px;
}

.bk-font-s1 {
  font-size: 19px;
}

.bk-font-s2 {
  font-size: 18px;
}

.bk-font-s3 {
  font-size: 17px;
}

.bk-font-s4 {
  font-size: 16px;
}

.bk-font-s5 {
  font-size: 15px;
}

.bk-font-s6 {
  font-size: 14px;
}

.bk-font-s7 {
  font-size: 13px;
}

.bk-font-s8 {
  font-size: 12px;
}

.bk-span-icon > {
  i {
    margin-right: 10px;
    font-size: 12px;
    font-weight: normal;
  }
  span {
    font-size: 12px;
    font-weight: 400;
    color: #777;
  }
}

.bk-group-1 {
  color: black;
  padding: 15px;
  border: 1px #d3e0e9 solid;
  border-bottom: 0px;
  &:last-child {
    border-bottom: 1px #d3e0e9 solid;
  }
  .bk-table tr {
    &:first-child td {
      color: #000;
      font-size: 17px;
    }
    td {
      text-align: center;
    }
    &:nth-child(2) td {
      color: #666;
      font-size: 15px;
    }
    td {
      &:nth-child(2) {
        text-align: right;
        width: 120px;
      }
      &:first-child {
        width: 150px;
      }
      &:nth-child(3) {
        padding-left: 25%;
      }
    }
  }
  btn-default {
    width: 185px !important;
    span.btn-label {
      position: relative !important;
      left: -15px !important;
    }
  }
}

.panel-body {
  padding: 0px 10px 0px 10px !important;
  height: calc(100vh - 184px) !important;
  background-color: white!important;
}